// partials/_grid.scss

$grid-columns		: 		12;
$gutter				:		2rem;
$max-width			:		em(1280);
$visual-grid		: 		false;
$visual-grid-index	:		back;
$visual-grid-color	: 		rgba(0, 0, 15, .5);
$mobile				:		new-breakpoint(max-width 480px 4);