// partials/_layout.scss

.wrap {
	@include outer-container;
	padding-left: 2rem;
	padding-right: 2rem;
}

.section {
	padding-top: 3rem;
	padding-bottom: 3rem;
	@include row;
	height: auto;
}

.section-detail {
	@include span-columns(6);
	@include media($mobile) {
		@include span-columns(4);
	}
}

.hero {
	padding-top: 3rem;
	padding-bottom: 3rem;
	text-align: center;
	background-color: $blue;
	color: $white;
	p {
		margin-bottom: $h1-margin-bottom;
	}
	h1 {
		@include media($mobile) {
			font-size: $h2-font-size;
			line-height: $h2-line-height;
		}
	}
	h2 {
		color: $white;
	}
}

.img-left {
	@include span-columns(12);
	img {
		@include span-columns(6 of 12);
	}
	@include media($mobile) {
		@include span-columns(4);
		img {
			@include span-columns(4);
		}
	}
}

@include direction-context(right-to-left) {
	.img-right {
		@include span-columns(12 of 12);
		img {
			@include span-columns(6 of 12);
		}
		@include media($mobile) {
			@include direction-context(left-to-right) {
				img {
					@include span-columns(4);
					float: right;
					margin-right: 0;
				}
			}
		}
	}
}

.faq {
	@include span-columns(12);
}

.signup {
	@include span-columns(12);
}

.question {
	margin-bottom: 1rem;
}

.mc-field-group {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

input {
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	border: 3px solid $blue;
	color: $blue;
	font-weight: bold;
	border-radius: 0;
	-webkit-appearance: none;
}

input:focus {
	outline: none;
}

::-webkit-input-placeholder { color: lighten($black, 30%); }

:-moz-placeholder { color: lighten($black, 30%); }

::-moz-placeholder { color: lighten($black, 30%); }

:-ms-input-placeholder { color: lighten($black, 30%); }

.email {
	@include span-columns(6);
	@include shift(2);
	@include media($mobile) {
		@include span-columns(4);
		@include shift(0);
		@include row;
		margin-bottom: 1rem;
	}
}

.button {
	background-color: $white;
}

.button:hover {
	background-color: $blue;
	color: $white;
	cursor: pointer;
}
