// partials/_layout.scss

.wrap {
	@include outer-container;
	padding-left: 2rem;
	padding-right: 2rem;
}

.section {
	padding-top: 3rem;
	padding-bottom: 3rem;
	@include row;
}

.section-detail {
	@include span-columns(6);
	@include media($mobile) {
		@include span-columns(4);
	}
}

.hero {
	padding-top: 3rem;
	padding-bottom: 3rem;
	text-align: center;
	background-color: $blue;
	color: $white;
	p {
		margin-bottom: $h1-margin-bottom;
	}
	h2 {
		color: $white;
	}
}

.img-left {
	@include span-columns(12);
	img {
		@include span-columns(6 of 12);
	}
	@include media($mobile) {
		@include span-columns(4);
		img {
			@include span-columns(4);
		}
	}
}

@include direction-context(right-to-left) {
	.img-right {
		@include span-columns(12 of 12);
		img {
			@include span-columns(6 of 12);
		}
		@include media($mobile) {
			@include direction-context(left-to-right) {
				img {
					@include span-columns(4);
					float: right;
					margin-right: 0;
				}
			}
		}
	}
}

.faq {
	@include span-columns(12);
}

.question {
	margin-bottom: 1rem;
}
